:root {
 --blanco: #ffffff;
 --negro: #000;
 --colorPrincipal: #fabb3a;
 --gris: #4f4f4f ;
 --grisSuave: #F9F8F8;
 --rojo: #e7272d;
 --fuentePrincipal: 'Roboto', sans-serif;
 --fuenteLogo: 'Abril Fatface', cursive;
 --fuenteNombre: 'Oswald', sans-serif;
 --fuenteRobotoSlab: 'Roboto Slab', serif;
 --fuenteGabriela: 'Gabriela', serif;
 --fuenteLora: 'Lora', serif;
 
}






html {
    background-color: var(--blanco);
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* Globales */

body{
    font-size: 1.6rem;
}

a {
   text-decoration: none;  
   display: block;
}


img {
    max-width: 100%;
}
/* Utilidades */
.contenedor {
    max-width: 90%;
    margin: 0 auto;
}

.boton {
    width: 100%;
    padding: 2rem;
    font-size: 2rem;
    display: block;
    border: none;
    background-color: var(--rojo);
    font-family: var(--fuenteGabriela);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--blanco);
    cursor: pointer;
    border-radius: 7%;
}
.boton1 {
    width: 20%;
}
.separacion-bottom {
    padding-top: 17rem;
}
@media (min-width: 1200px) {
    .separacion-bottom {

        padding-top: 14rem;
    }
}


/* header */
.header {
    background-color: var(--negro);
    padding-top: 1.5rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 .3rem 0.4rem #444;
    top: 0;
}
@media (min-width: 1200px) {
    .header {
        padding-top: 2rem;
        padding-bottom: 2rem;
        
    }
}
.contenido-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
    max-width: 1200px;

}

@media (min-width: 1200px) {
    .contenido-header {
        flex-direction: row;
    }
}
.contenido-header h1 {
    font-family: var(--fuenteLora);
    color: var(--rojo);
    text-align: center;
    font-size: 2.5rem;
    padding-top: 1.7rem;
    margin: 0;
    line-height: 0;
    
}
.contenido-header span {
    color: var(--blanco);
}
@media (min-width: 1200px) {
    .yrene {
        margin-left: 5rem;
    }
}
.menu-icon {
    display: none;
}
@media (max-width: 768px) {
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

.navegacion {
    display: none;
    align-items: center;
   justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 1rem;
}

@media (min-width: 1200px) {
    .navegacion {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion__enlace {
    display: block;
    color: var(--blanco);
    font-size: 2rem;
    font-family: var(--fuenteLora);
    
}
@media (min-width: 1200px) {
    .navegacion__enlace {
        display: flex;
    }

}

.navegacion__enlace:hover {
    color: var(--rojo);
}
.seccion h1 {
    text-align: center;
    color: var(--negro);
    font-size: 3.5rem;
    font-family: var(--fuenteLora);

}
.producto {
    width: 100%;
    -webkit-box-shadow: 5px 5px 12px -1px rgba(242,242,242,1);
    -moz-box-shadow: 5px 5px 12px -1px rgba(242,242,242,1);
    box-shadow: 5px 5px 12px -1px rgba(242,242,242,1);
    border-radius: 1%;
    padding: 1rem;
    background-color: var(--blanco);
}


.nombre-precio h2 {
    font-family: var(--fuenteNombre);
    font-size: 3rem;
    text-align: center;
    font-weight: 300;
    

}
.nombre-precio p {
    font-family: var(--fuenteGabriela);
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    color: var(--rojo);
}
.TodosProductos {
    display: grid;
    column-gap: 1rem;
    place-items: center;
    justify-content: center;

}
@media (min-width: 768px) {
    .TodosProductos {
        grid-template-columns: repeat(2, 30rem);
    }
}

@media (min-width: 1200px) {
    .TodosProductos {
        grid-template-columns: repeat(4, 30rem);
        grid-template-rows: repeat(2, 50rem);
    }
}
/*Footer*/
.footer {
    background-color: var(--gris);
    padding: 1.5rem 0;
}
.footer p {
    color: var(--blanco);
    font-family: var(--fuenteGabriela);
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
}
.iconos {
    display: flex;
    gap: 4rem;
    font-size: 3rem;
    justify-content: start;
    align-self: center;
}
@media (min-width: 1200px) {
    .iconos {
        margin-right: 5rem;
    }
}
.tres-puntos {
    text-align: center;
    font-size: 4rem;
    cursor: pointer;
}
@media (min-width: 1200px) {
    .tres-puntos {
        display: none;

    }
}


