:root {
 --blanco: #ffffff;
 --negro: #000;
 --colorPrincipal: #fabb3a;
 --gris: #4f4f4f ;
 --grisSuave: #F9F8F8;
 --rojo: #e7272d;
 --fuentePrincipal: 'Roboto', sans-serif;
 --fuenteLogo: 'Abril Fatface', cursive;
 --fuenteNombre: 'Oswald', sans-serif;
 --fuenteRobotoSlab: 'Roboto Slab', serif;
 --fuenteGabriela: 'Gabriela', serif;
 --fuenteLora: 'Lora', serif;
 --fuentePoiret: 'Poiret One', cursive;
 --fuenteBebas: 'Bebas Neu', sans-serif;
}






html {
    background-color: var(--grisSuave);
    box-sizing: border-box;
    font-size: 62.5%;
    
    
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* Globales */

body{
    font-size: 1.6rem;
}

a {
   text-decoration: none;  
   display: block;
}


img {
    max-width: 100%;
    width: 100%;
}
@media (min-width: 768px) {
    img{
        width: 40rem;
        height: 25rem;
    }
}
/* Utilidades */
.contenedor {
    max-width: 90%;
    margin: 0 auto;
}

.boton {
    width: 100%;
    padding: 2rem;
    display: block;
    border: none;
    background-color: #F5F1F1;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: var(--rojo);
    cursor: pointer;
    border-radius: 1.6rem;
    transition: .5s;
}
.boton span {
    font-size: 2rem;
    font-family: var(--fuenteGabriela);
}
.boton:hover {
    background-color: #EBE4E4;
    font-size: 1.8rem;
    
}

.separacion-bottom {
    padding-top: 8rem;
}
@media (min-width: 1200px) {
    .separacion-bottom {

        padding-top: 5.5rem;
    }}
    .separacion-1elemento{
        padding-top: 10rem;
    } 


/* header */
.nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #F5F1F1;
    padding-top: 0rem;
    box-shadow: 0 .3rem .1rem #F5F1F1;
    transition: top 1s;

}
.nav.fijo {
    position: fixed;
    width: 100%;
    box-shadow: 0 .3rem .4rem #F5F1F1;
    top: 0;
}
.contenido-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: auto;

}

@media (min-width: 1200px) {
    .contenido-nav {
        flex-direction: row;
        width: 100%;
    }
}
.yrene {
    display: flex;
    justify-content: center;
    margin-right: 4rem;
    margin-top: 1rem;
    align-items: center;
   
}
.yrene-img {
    background-image: url(../src/img/yrene.png);
    background-size: 13rem;
    background-repeat: no-repeat;
    background-position:center center ;
    width: 10rem;
    height: 8rem;

}
/* .contenido-header h1 {
    font-family: var(--fuenteGabriela);
    color: var(--rojo);
    text-align: center;
    font-size: 2.5rem;
    padding-top: 1.7rem;
    margin: 0;
    line-height: 0;
    text-transform: uppercase;
    

.contenido-header span {
    color: var(--negro);
} */
@media (min-width: 1200px) {
    .yrene {
        margin-left: 0rem;
        margin-right: 1rem;
        margin-top: .5rem;
    }
}
.navegacion {
    display: none;
    align-items: center;
   justify-content: center;
    flex-direction: column;
    padding-bottom: 2rem;
}

@media (min-width: 1200px) {
    .navegacion {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0;;
    }
}
.enlaces {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 1200px) {
    .enlaces {
        flex-direction: row;

    }
}

.facebook {
    margin-right: 2rem;
}
@media (min-width: 1200px) {
    .facebook {
        margin-right: 1.5rem;
    }
}

.navegacion__enlace {
    display: block;
    text-align: center;
    color: var(--rojo);
    font-size: 1.6rem;
    font-family: var(--fuenteGabriela);
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    
}

@media (min-width: 1200px) {
    .navegacion__enlace {
        display: flex;
        padding-bottom: 0;
        padding-top: 0;
    }
`

}

.navegacion__enlace:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    color:  var(--blanco);
    background-color: #E8DDDD;
    transition: .5s;
    width: 100%;
    font-size: 1.63rem;

}
@media (min-width: 1200px) {
    .navegacion__enlace:hover{
        width: auto;
        height: 8rem;
        justify-content: center;
        align-items: center;

    }

}
.seccion {
    padding-bottom: 4rem;
    border-bottom: 1px solid #CFCFCF;
    margin: auto;

}

@media (min-width: 1200px) {
    .seccion {
        max-width: 1200px;
        
    }
}

.seccion h1 {
    text-align: center;
    color: var(--negro);
    font-size: 4rem;
    font-family: var(--fuenteGabriela);

}
@media (min-width: 768px) {
    .seccion h1 {
        font-size: 6rem;
    }
}

.producto {
    width: 100%;
    -webkit-box-shadow: 3px 4px 1px -1px rgba(240,240,240,1);
    -moz-box-shadow: 3px 4px 1px -1px rgba(240,240,240,1);
    box-shadow: 3px 4px 1px -1px rgba(240,240,240,1);
    border-radius: 1%;
    padding: 1rem;
    background-color: var(--grisSuave);
}
@media (min-width: 768px) {
    .producto {
        background-color: var(--blanco);
    }
}


.nombre-precio h2 {
    font-family: var(--fuenteGabriela);
    font-size: 2.7rem;
    text-align: center;
    font-weight: 300;
    margin-bottom: 0;

    

}
.nombre-precio p {
    font-family: var(--fuenteLora);
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: var(--rojo);
    margin-top: 1rem;
}
.ver-info {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
}
.info {
    display: block;
}
.info p{
    font-family: var(--fuentePoiret);
    color: var(--gris);
    font-size: 1.8rem;
}
.TodosProductos {
    display: grid;
    column-gap: 3rem;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: auto;

}
@media (min-width: 768px) {
    .TodosProductos {
        grid-template-columns: repeat(2, 30rem);

    }
}

@media (min-width: 1200px) {
    .TodosProductos {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 50rem);
        row-gap: 4rem;
        

    }
}
/*Footer*/
.footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    background-color: #F5F1F1;

}
.footer-iconos {
    margin-right: 1rem;
    font-size: 2.5rem;
}
.footer p {
    color: var(--rojo);
    font-family: var(--fuentePoiret);
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 1rem;
    margin: 0;
}
.footer span {
    display: block;
    color: var(--rojo);
    font-family: var(--fuentePoiret);
}
@media (min-width: 768px) {
    .footer span {
        display: inline;
    }
}

.iconos {
    display: flex;
    font-size: 3rem;
    align-self: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
@media (min-width: 1200px) {
    .iconos {
        margin-right: 1rem;
        margin-left: 1rem;
        padding-bottom: 0;
        padding-top: 0;
    }
}
.tres-puntos {
    text-align: center;
    font-size: 3.9rem;
    cursor: pointer;

    margin-top: 3rem;
}
@media (min-width: 1200px) {
    .tres-puntos {
        display: none;
    }}
.icon-whatsapp {
    font-size: 1.7rem;
}