:root {
 --blanco: #ffffff;
 --negro: #000;
 --colorPrincipal: #fabb3a;
 --gris: #4f4f4f ;
 --grisSuave: #F9F8F8;
 --rojo: #e7272d;
 --fuentePrincipal: 'Roboto', sans-serif;
 --fuenteLogo: 'Abril Fatface', cursive;
 --fuenteNombre: 'Oswald', sans-serif;
 --fuenteRobotoSlab: 'Roboto Slab', serif;
 --fuenteGabriela: 'Gabriela', serif;
 --fuenteLora: 'Lora', serif;
 --fuentePoiret: 'Poiret One', cursive;
 --fuenteBebas: 'Bebas Neu', sans-serif;
}






html {
    background-color: var(--grisSuave);
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* Globales */

body{
    font-size: 1.6rem;
}

a {
   text-decoration: none;  
   display: block;
}


img {
    max-width: 100%;
}
/* Utilidades */
.contenedor {
    max-width: 90%;
    margin: 0 auto;
}

.boton {
    width: 100%;
    padding: 2rem;
    font-size: 2rem;
    display: block;
    border: none;
    background-color: #E8DFDF;
    font-family: var(--fuenteGabriela);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: var(--rojo);
    cursor: pointer;
    border-radius: 1.6rem;
}

.separacion-bottom {
    padding-top: 8rem;
}
@media (min-width: 1200px) {
    .separacion-bottom {

        padding-top: 7rem;
    }}
    .separacion-1elemento{
        padding-top: 8rem;
    } 


/* header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #E8DFDF;
    padding-top: 2rem;
    box-shadow: 0 .3rem .1rem #E8DFDF;
}
@media (min-width: 1200px) {
    .header {
        padding-top: 2rem;
        padding-bottom: 2rem;
        
    }
}
.header.fijo {
    position: fixed;
    width: 100%;
    box-shadow: 0 .3rem .4rem #E8DFDF;
    top: 0;
}
.contenido-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1200px;

}

@media (min-width: 1200px) {
    .contenido-header {
        flex-direction: row;
    }
}
.yrene {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}
.contenido-header h1 {
    font-family: var(--fuenteGabriela);
    color: var(--rojo);
    text-align: center;
    font-size: 2.5rem;
    padding-top: 1.7rem;
    margin: 0;
    line-height: 0;
    text-transform: uppercase;
    
}
.contenido-header span {
    color: var(--negro);
}
@media (min-width: 1200px) {
    .yrene {
        margin-left: 5rem;
    }
}
.navegacion {
    display: none;
    align-items: center;
   justify-content: center;
    flex-direction: column;
    padding-bottom: 2rem;
}

@media (min-width: 1200px) {
    .navegacion {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0;
    }
}
.facebook {
    margin-right: 2rem;
}
@media (min-width: 1200px) {
    .facebook {
        margin-right: 4rem;
    }
}

.navegacion__enlace {
    display: block;
    color: var(--rojo);
    font-size: 2rem;
    font-family: var(--fuentePoiret);
    padding-bottom: 2rem;
    
}
.navegacion__enlace:last-of-type {
    padding-bottom: 0;
    padding-right: 0;

}
@media (min-width: 1200px) {
    .navegacion__enlace {
        display: flex;
        padding-right: 2rem;
        padding-bottom: 0;
    }

}

.navegacion__enlace:hover {
    color: var(--blanco);
}
.seccion:last-of-type {
    padding-bottom: 6rem;
}
.seccion h1 {
    text-align: center;
    color: var(--negro);
    font-size: 4rem;
    font-family: var(--fuenteGabriela);

}
@media (min-width: 768px) {
    .seccion h1 {
        font-size: 6rem;
    }
}

.producto {
    width: 100%;
    -webkit-box-shadow: 3px 4px 1px -1px rgba(240,240,240,1);
    -moz-box-shadow: 3px 4px 1px -1px rgba(240,240,240,1);
    box-shadow: 3px 4px 1px -1px rgba(240,240,240,1);
    border-radius: 1%;
    padding: 1rem;
    background-color: var(--grisSuave);
}
@media (min-width: 768px) {
    .producto {
        background-color: var(--blanco);
    }
}


.nombre-precio h2 {
    font-family: var(--fuenteGabriela);
    font-size: 2.7rem;
    text-align: center;
    font-weight: 300;
    margin-bottom: 0;

    

}
.nombre-precio p {
    font-family: var(--fuenteLora);
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: var(--rojo);
    margin-top: 1rem;
}
.ver-info {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
}
.info {
    display: block;
}
.info p{
    font-family: var(--fuentePoiret);
    color: var(--gris);
    font-size: 1.8rem;
}
.TodosProductos {
    display: grid;
    column-gap: 1rem;
    place-items: center;
    justify-content: center;

}
@media (min-width: 768px) {
    .TodosProductos {
        grid-template-columns: repeat(2, 30rem);
    }
}

@media (min-width: 1200px) {
    .TodosProductos {
        grid-template-columns: repeat(4, 30rem);
        grid-template-rows: repeat(2, 50rem);
    }
}
/*Footer*/
.footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    background-color: #E8DFDF;

}
.footer-iconos {
    margin-right: 1rem;
    font-size: 2.5rem;
}
.footer p {
    color: var(--rojo);
    font-family: var(--fuentePoiret);
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 1rem;
    margin: 0;
}
.footer span {
    display: block;
    color: var(--rojo);
    font-family: var(--fuentePoiret);
}
@media (min-width: 768px) {
    .footer span {
        display: inline;
    }
}

.iconos {
    display: flex;
    font-size: 3rem;
    justify-content: start;
    align-self: center;
    padding-bottom: 2rem;
}
@media (min-width: 1200px) {
    .iconos {
        margin-right: 7rem;
        padding-bottom: 0;
    }
}
.tres-puntos {
    text-align: center;
    font-size: 3rem;
    cursor: pointer;
    padding-right: 2rem;
    padding-top: .3rem;
}
@media (min-width: 1200px) {
    .tres-puntos {
        display: none;
    }}